build/

CMakeLists.txt
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

_deps/


*.ninja
*.vcxproj*
*.sln
*.xcodeproj
*.o
*.obj
*.dll
*.exe
*.lib
*.a
*.so
*.dylib
